<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <h1> Todo APP</h1>
    

    <form method="POST" action="">
        {% csrf_token %}

        <input type="text" name="title" placeholder="Enter task">

        <button type="submit">Add Task</button>
    </form>
 <a href="{% url 'logout' %}">Logout</a>


    <!-- {% for i in data %}
    <p>
        {{ i.title }}

        <a href="{% url 'edit' i.id %}">
            <button>Edit</button>
        </a>

        <a href="{% url 'delete' i.id %}">
            <button>Delete</button>
        </a>
    </p>
    {% endfor %} -->
</body>
</html>