<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <h1> Todo APP</h1>
    <h1>{{name}}</h1>
    <hr>

    <form method="POST" action="{% url 'add_task' %}">
        {% csrf_token %}

        <input type="text" name="title" placeholder="Enter task">

        <button type="submit">Add Task</button>
    </form>

   {% for j in users %}
   <h4>User Name : {{j.username}} </h4>

  {% for i in j.todo_set.all %}
    
    <p>
       
        {{ i.title }}

        <a href="{% url 'edit' i.id %}">
            <button>Edit</button>
        </a>
 {% if is_admin %}
        <a href="{% url 'delete' i.id %}">
            <button>Delete</button>
        </a>
       
        {% endif %}


    </p>
    {% endfor %}


  {% endfor %}
  {% if is_admin %}
  <table border="1">
    <tr>
        <th>User Name</th>
        <th>Current Group</th>
        <th>New Group</th>
        <th>Action</th>
    </tr>

    {% for user in users %}
    <tr>
        <td>{{ user.username }}</td>

        <td>
            {% if user.groups.first %}
                {{ user.groups.first.name }}
            {% else %}
                No Group
            {% endif %}
        </td>

        <td>
            <form method="POST">
                {% csrf_token %}

                <input type="hidden"
                       name="user_id"
                       value="{{ user.id }}">

                <select name="group_id">
                    {% for group in groups %}
                        <option value="{{ group.id }}">
                            {{ group.name }}
                        </option>
                    {% endfor %}
                </select>
        </td>

        <td>
                <button type="submit">
                    Update
                </button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
 {% endif %}
    <a href="{% url 'logout' %}"><button> Logout</button></a>
</body>
</html>