<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>
<body>
    <h1> Register</h1>
    <form method="POST" action="" >


    {% csrf_token %}

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
        <label for="user"> Username
            <input type="text" name="username" id="user" placeholder="Enter username">
        </label>
        <label for="pass">
            Password
            <input type="password" name="password" id="pass" placeholder="Enter password">
        </label>
        Re type Password
        <label for="repass">
            <input type="password" name="repassword" id="repass" placeholder="Enter password agian">
        </label>
        <button type="submit">Register</button>
    </form>
</body>
</html>